body {
  margin: 10px;
  font-family: Arial, sans-serif;
}

h3 {
  margin-bottom: 10px;
}

#map {
  height: 360px;
  border-radius: 6px;
  border: 1px solid #aa1b1b;
  margin-top: 10px;
}

button {
  padding: 8px 12px;
  border: 1px solid #3d3d3d;
  border-radius: 6px;
  background: #565657;
  cursor: pointer;
}

#status {
  margin-left: 8px;
  color: #555;
}
